/* navbar */
.button.is-info {
  &.facebook {
    background: #4267b2;

    &:hover {
      background: #2d53a2;
    }
  }
  &.twitter {
    background: #1b95e0;

    &:hover {
      background: #1c88cb;
    }
  }
}

body {
  background-color: whitesmoke;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 3em auto;
  padding: 2em;
  background: #fafafa;
}

article {
  margin: 1em 2em;
}

.wrapper-bg {
  /* background: linear-gradient(135deg, #159932 0%, #10994f 48%,#2cb0cd 100%); */
  background: hsl(217, 71%, 53%);
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  padding: 5em;
  text-align: center;

  & h1 {
    color: white;
  }
}
